integration-adnetworks/src/main/resources/smaatoapi_v2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://soma.smaato.com/oapi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="sessionid"/>
        <xs:element type="xs:string" name="status"/>
        <xs:element name="user">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="id"/>
              <xs:element type="xs:string" name="ownid"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ads">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ad">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="log-id"/>
                    <xs:element name="valid">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="start"/>
                            <xs:attribute type="xs:byte" name="end"/>
                            <xs:attribute type="xs:byte" name="max"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="link"/>
                    <xs:element name="action">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:anyURI" name="target"/>
                            <xs:attribute type="xs:string" name="acc"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="adtext"/>
                    <xs:element name="beacons">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:anyURI" name="beacon"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id"/>
                  <xs:attribute type="xs:string" name="type"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>